
.invisible-width {
  width: 0;

  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;

  visibility: hidden;
}

.spacer {

  &, &-x {
    width: 1ex;
  }

  &, &-2-x {
    width: 2ex;
  }

}

span.spacer {
  &, &-2 {
    &, &-x {
      visibility: hidden;
      display: inline-block;
    }
  }
}

.scroll {

  overflow: scroll;

  &-hidden {
    overflow: hidden;
  }

  &-auto {
    overflow: auto;
  }

  &-y {
    overflow-y: scroll !important;

    &-auto {
      overflow-y: scroll !important;
    }
  }
}



.flex {
  &, &-x, &-y, &ible-body, &-middle {
    display: flex;
  }

  &-x {
    flex-direction: row;
  }
  &-y, &ible-body {
    flex-direction: column;
  }
  &-1, &ible-body > .body {
    flex: 1;
  }

  &-middle {
    align-items: center;

    > span {
      display: inline-flex;
    }
  }

}
