.column-browser {
  overflow: hidden;
}
.column-browser > div.columns-1 > div {
  width: 100%;
}
.column-browser > div.column-index-1 > div:nth-child(-n + 1) {
  margin-left: -16em;
  width: 16em;
  overflow: hidden;
}
html[dir=rtl] .column-browser > div.column-index-1 > div:nth-child(-n + 1) {
  margin-right: -16em;
  margin-left: 0;
}
.column-browser > div.columns-2 > div {
  width: 50%;
}
.column-browser > div.column-index-2 > div:nth-child(-n + 2) {
  margin-left: -16em;
  width: 16em;
  overflow: hidden;
}
html[dir=rtl] .column-browser > div.column-index-2 > div:nth-child(-n + 2) {
  margin-right: -16em;
  margin-left: 0;
}
.column-browser > div.columns-3 > div {
  width: 33.33333333%;
}
.column-browser > div.column-index-3 > div:nth-child(-n + 3) {
  margin-left: -16em;
  width: 16em;
  overflow: hidden;
}
html[dir=rtl] .column-browser > div.column-index-3 > div:nth-child(-n + 3) {
  margin-right: -16em;
  margin-left: 0;
}
.column-browser > div.columns-4 > div {
  width: 25%;
}
.column-browser > div.column-index-4 > div:nth-child(-n + 4) {
  margin-left: -16em;
  width: 16em;
  overflow: hidden;
}
html[dir=rtl] .column-browser > div.column-index-4 > div:nth-child(-n + 4) {
  margin-right: -16em;
  margin-left: 0;
}
.column-browser > div.columns-5 > div {
  width: 20%;
}
.column-browser > div.column-index-5 > div:nth-child(-n + 5) {
  margin-left: -16em;
  width: 16em;
  overflow: hidden;
}
html[dir=rtl] .column-browser > div.column-index-5 > div:nth-child(-n + 5) {
  margin-right: -16em;
  margin-left: 0;
}
.column-browser > div.columns-6 > div {
  width: 16.66666667%;
}
.column-browser > div.column-index-6 > div:nth-child(-n + 6) {
  margin-left: -16em;
  width: 16em;
  overflow: hidden;
}
html[dir=rtl] .column-browser > div.column-index-6 > div:nth-child(-n + 6) {
  margin-right: -16em;
  margin-left: 0;
}
.column-browser > div.columns-7 > div {
  width: 14.28571429%;
}
.column-browser > div.column-index-7 > div:nth-child(-n + 7) {
  margin-left: -16em;
  width: 16em;
  overflow: hidden;
}
html[dir=rtl] .column-browser > div.column-index-7 > div:nth-child(-n + 7) {
  margin-right: -16em;
  margin-left: 0;
}
.column-browser > div.columns-8 > div {
  width: 12.5%;
}
.column-browser > div.column-index-8 > div:nth-child(-n + 8) {
  margin-left: -16em;
  width: 16em;
  overflow: hidden;
}
html[dir=rtl] .column-browser > div.column-index-8 > div:nth-child(-n + 8) {
  margin-right: -16em;
  margin-left: 0;
}
.column-browser > div.columns-9 > div {
  width: 11.11111111%;
}
.column-browser > div.column-index-9 > div:nth-child(-n + 9) {
  margin-left: -16em;
  width: 16em;
  overflow: hidden;
}
html[dir=rtl] .column-browser > div.column-index-9 > div:nth-child(-n + 9) {
  margin-right: -16em;
  margin-left: 0;
}
.column-browser > div.columns-10 > div {
  width: 10%;
}
.column-browser > div.column-index-10 > div:nth-child(-n + 10) {
  margin-left: -16em;
  width: 16em;
  overflow: hidden;
}
html[dir=rtl] .column-browser > div.column-index-10 > div:nth-child(-n + 10) {
  margin-right: -16em;
  margin-left: 0;
}
.column-browser > div.columns-11 > div {
  width: 9.09090909%;
}
.column-browser > div.column-index-11 > div:nth-child(-n + 11) {
  margin-left: -16em;
  width: 16em;
  overflow: hidden;
}
html[dir=rtl] .column-browser > div.column-index-11 > div:nth-child(-n + 11) {
  margin-right: -16em;
  margin-left: 0;
}
.column-browser > div.columns-12 > div {
  width: 8.33333333%;
}
.column-browser > div.column-index-12 > div:nth-child(-n + 12) {
  margin-left: -16em;
  width: 16em;
  overflow: hidden;
}
html[dir=rtl] .column-browser > div.column-index-12 > div:nth-child(-n + 12) {
  margin-right: -16em;
  margin-left: 0;
}
.column-browser > div > div {
  background: white;
  overflow: hidden;
  transition: width 0.35s ease 0s, min-width 0.35s ease 0s, margin-left 0.35s ease 0s, margin-right 0.35s ease 0s, opacity 0.35s ease 0s;
  box-sizing: border-box;
  border: 1px solid #DDD;
  border-bottom: 0;
}
.column-browser > div > div,
.column-browser > div > div > div {
  min-width: 16em;
}
html:not([dir=rtl]) .column-browser > div > div {
  border-left: 0;
}
html[dir=rtl] .column-browser > div > div {
  border-right: 0;
}
.column-browser > div > div.new,
.column-browser > div > div.removed {
  width: 0;
  min-width: 0;
  opacity: 0;
}
.column-browser > div > div.new {
  visibility: hidden;
}
.column-browser .ruler {
  position: absolute;
  visibility: hidden;
  width: 16em;
  height: 0;
  top: 0;
  left: 0;
}
